.advantages {
  width: 100%;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: @desktop-width;
  margin: 0 auto;
  padding: 0 107px 135px;
}

.advantages__header {
  .headline-style();
  width: 670px;
  margin-bottom: 30px;

  text-align: center;
}

.advantages__description {
  width: 670px;
  margin-bottom: 140px;
  text-align: center;
}

.advantages__list {
  .list-reset();

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1210px;
}

.advantages__item {
  position: relative;
  width: 380px;
  margin: 0;
  padding-top: 300px;

  font-weight: 300;
  text-align: center;

  &--time {
    &::before {
      .icon(url("../img/icon-time.png"));
    }
  }

  &--videos {
    &::before {
      .icon(url("../img/icon-videos.png"));
    }
  }

  &--access {
    &::before {
      .icon(url("../img/icon-access.png"));
    }
  }
}

.advantages__feature-name {
  .headline-style();

  font-size: 24px;
}

.advantages__feature-description {
  text-align: center;
  opacity: 0.65;
}

@media (max-width: @desktop-width) {
  .advantages__wrapper {
    width: @laptop-width;
    padding-bottom: 0;
  }

  .advantages__description {
    margin-bottom: 50px;
  }

  .advantages__list {
    width: auto;
    justify-content: center;
  }
}

@media (max-width: @laptop-width) {
  .advantages__wrapper {
    width: @tablet-width;
  }
}

@media (max-width: @tablet-width) {
  .advantages__wrapper {
    width: 100%;
    padding: 20px;
    padding-top: 20px;
  }

  .advantages__header {
    width: 100%;
    padding: 0;
  }

  .advantages__description {
    width: 100%;
  }

  .advantages__item {
    width: 340px;
  }
}
