.header {
  width: 100%;
}

.header__wrapper {
  display: flex;

  padding: 60px 242px;
}

.header__logo {
  width: 135px;

  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: @orange;
}

.header__button-login {
  width: 140px;
  padding-top: 3px;
  padding-bottom: 3px;

  line-height: 36px;
  color: white;
}
