.size-desktop() {
  max-width: 1920px;
  margin: 0 auto;
}

.icon(@url) {
  content: "";

  position: absolute;
  top: -300px;
  left: 90px;

  width: 207px;
  height: 219px;

  background-image: @url;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox() {
  content: "";

  position: absolute;
  top: 0;
  left: -50px;

  width: 31px;
  height: 24px;

  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  background-position: center;
}
